* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    color: white;
}

main {
    width: 500px;
    margin: auto;
}

main form div {
    margin-bottom: 7px;
}

footer {
    background-color: white;
    color: gray;
    width: 100%;
    text-align: center;
}

footer p {
    padding: 15px;
}